@import './_milestone-details.scss';
@import '~@angular/material/theming';

mat-card {
	margin-top: 10px;
}

.login-button {
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	&>button {
		@include mat-elevation(2);
	}
}

.congratulation-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.congratulation-card-img {
	display: block;
	max-width: 270px;
	align-self: center;
	margin-top: 50px !important; //required to override default angular material behaviour
}