<mat-card>
  <mat-card-content>
    Per scegliere una squadra si necessita prima l'autenticazione, premere sul pulsante login con Google
    se l'autenticazione andrà a buonfine si potrà scegliere una squadra
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="login-button">
      <button mat-raised-button (click)="loginFB()" color="primary">
        <mat-icon mat-icon-button>account_box</mat-icon>
        Login con Google
      </button>
    </div>
  </mat-card-content>
</mat-card>


<mat-card >
  <mat-card-header>
    Registrazione squadra
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="full-width" *ngIf="teams$ | async as teams">
      <mat-select placeholder="Scegli una squadra" [(value)]="selected">
        <mat-option *ngFor="let team of teams" [value]="team">
          {{ team.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <div class="mat-card-button-right">
      <button mat-raised-button color="primary" (click)="save()" [disabled]="user == null">Registrati</button>
    </div>
  </mat-card-actions>
</mat-card>