<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form  [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Tappa</ng-template>
      <mat-form-field>
        <input matInput placeholder="Nome Tappa">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descrizione tappa">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Punti tappa">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Prosegui</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form  [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Suggerimento Tappa</ng-template>
      <mat-form-field>
        <input matInput placeholder="Suggerimento">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Punti penalità">
      </mat-form-field>
      <div>
        <button mat-raised-button color="warn" matStepperPrevious>Indietro</button>
        <button mat-raised-button color="primary" matStepperNext>Prosegui</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Scegli il punto della tappa</ng-template>
      <g-map></g-map>
      <div>
        <button mat-raised-button color="warn" matStepperPrevious>Indietro</button>
        <button mat-raised-button color="accent" matStepperPrevious>Fine</button>
      </div>
  </mat-step>
</mat-vertical-stepper>