<nav>
  <mat-toolbar class="navbar" color="primary">
    <mat-toolbar-row *ngIf="href === '/frontend'">
      <button mat-button routerLink="/">Home</button>
      <span class="filler"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="href !== '/frontend'">
        <button mat-button routerLink="/backend">Home</button>
        <button mat-button routerLink="/generate-milestone">Aggiungi Tappa</button>
        <button mat-button routerLink="/generate-team">Aggiungi Team</button>
        <button mat-button routerLink="/milestones-settings">Gestisci Tappe</button>
      </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu xPosition="before" yPosition="above" [dir]="" #menu="matMenu">
    <button mat-menu-item>La tua Squadra</button>
  </mat-menu>
</nav>