@import "./_generate-milestone.scss";
@import "./_team-item-list.scss";

.mat-grid-tile .mat-figure {
	display: unset !important;
}

.mat-card-button-right {
	display: flex;
	justify-content: flex-end;
}