<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card *ngIf="milestonesTeam; else loading">
  <mat-card-header>
    Qui si può rioganizzare le tappe per team
  </mat-card-header>
  <mat-card-content >
    <milestones-list 
      [isSortable]="true" 
      [milestones]="milestonesTeam.milestones" 
      (orderChanged)="orderChanged($event)"
    >
    </milestones-list>
  </mat-card-content>
  <mat-card-actions>
    <div class="mat-card-button-right">
      <button mat-raised-button color="primary" (click)="save()">Salva</button>
    </div>
  </mat-card-actions>
</mat-card>